@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fcf9f7;
}

.heading-primary {
  font-size: 4.8rem;
}

.heading-secondary {
  color: #c73a0f;
  font-size: 3rem;
}

.main {
  display: flex;
  gap: 4rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 9.6rem 1.2rem;
}

.desserts {
  display: grid;
  max-width: 83rem;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 25rem));
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-gap: 3.2rem;
  margin-top: 3.2rem;
}
.desserts__dessert {
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}
.desserts__dessert > *:not(:last-child) {
  margin-bottom: 3px;
}
.desserts__img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desserts__img-box .btn--increment-qnt {
  color: white;
  cursor: pointer;
}
.desserts__img-box .btn--increment-qnt img {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 4px;
  border: 2px solid #fff;
  transition: all 0.3s;
}
.desserts__img-box .btn--increment-qnt img:hover {
  background-color: white;
}
.desserts__img-box .btn--increment-qnt span {
  display: flex;
  align-items: center;
}
.desserts__img {
  width: 100%;
  border-radius: 1rem;
}
.desserts__category {
  color: #c9aea6;
  font-weight: 500;
}
.desserts__name {
  font-weight: 700;
}
.desserts__price {
  color: #c73a0f;
  font-weight: 600;
}

.btn:link, .btn:visited {
  border-radius: 10rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
  text-align: center;
}
.btn--add-to-cart {
  padding: 1rem 2rem;
  transform: translateY(-45%);
  font-size: 1.3rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #c73a0f;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.btn--add-to-cart:hover {
  color: #c73a0f;
}
.btn--order {
  display: inline-block;
  width: 100%;
  padding: 1.8rem;
  background-color: #c73a0f;
  color: #fff;
  transition: background-color 0.3s;
  font-size: 1.6rem;
}
.btn--order:hover {
  background-color: #87635a;
}
.btn--increment-qnt {
  padding: 1.3rem 2rem;
  background-color: #c73a0f;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}
.btn-remove svg {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 4px;
  border: 2px solid #c9aea6;
  transition: all 0.3s;
  fill: #c9aea6;
}
.btn-remove {
  display: flex;
  align-items: center;
}
.btn-remove:hover svg {
  border: 2px solid #000;
  fill: #000;
}

.cart {
  background-color: #fff;
  max-width: 45rem;
  width: 100%;
  padding: 3.2rem;
  border-radius: 1rem;
}
.cart__content > div:not(:last-child), .cart__order > div:not(:last-child) {
  margin-bottom: 3rem;
}
.cart__content {
  margin-top: 4rem;
  text-align: center;
}
.cart__products {
  color: #c9aea6;
  font-weight: 700;
}
.cart__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}
.cart__total-price {
  font-size: 3rem;
}
.cart__delivery-type {
  background-color: #f4edeb;
  padding: 2rem;
  border-radius: 0.6rem;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  text-align: left;
  border-bottom: 1px solid #c9aea6;
}
.product:not(:first-child) {
  padding-top: 2rem;
}
.product:last-child {
  margin-bottom: 3.2rem;
}
.product__content {
  display: block;
}
.product span:not(:last-child) {
  margin-right: 1rem;
}
.product__name {
  color: #000;
  text-align: left;
  margin-bottom: 1rem;
}
.product__qnt {
  color: #c73a0f;
  font-weight: 700;
}
.product__price {
  font-weight: 400;
}
.product__total {
  font-weight: 700;
}
.product__text {
  display: inline-block;
  margin-top: 2rem;
}

.order-confirmed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 2rem;
  z-index: 1000;
  max-width: 59rem;
  width: 100%;
  max-height: 46rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.order-confirmed__complited-img {
  width: 6rem;
  height: 6rem;
}
.order-confirmed__header {
  font-size: 4rem;
  font-weight: 700;
}
.order-confirmed__text {
  color: #87635a;
}
.order-confirmed__ordered {
  background-color: #fcf9f7;
  padding: 2rem 2.5rem;
  border-radius: 7px;
  width: 100%;
}
.order-confirmed__product {
  display: flex;
  border-bottom: 1px solid #f4edeb;
  padding: 2.5rem 0;
  align-items: center;
}
.order-confirmed__product-img {
  width: 8rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-right: 1rem;
}
.order-confirmed__name {
  font-weight: 700;
  margin-bottom: 0.7rem;
}
.order-confirmed__value {
  margin-right: auto;
}
.order-confirmed__product-total {
  font-size: 2.3rem;
  font-weight: 700;
}
.order-confirmed__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}
.order-confirmed__total p {
  font-size: 2rem;
}
.order-confirmed__qnt {
  margin-right: 1rem;
}
.order-confirmed + .overlay {
  opacity: 1;
  visibility: visible;
  pointer-events: unset;
}
.order-confirmed__total-price {
  font-size: 3rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.content-disable {
  display: none;
}

.selected-dessert {
  border: 2px solid #c73a0f;
}

