@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: hsl(192, 100%, 9%);
}

p {
  color: #5e5c5c;
}

h1,
h3,
h4 {
  font-family: Poppins;
  font-weight: 700;
}

body header {
  padding: 40px 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body header img {
  width: 15%;
  min-width: 120px;
  max-width: 220px;
}

body header button {
  padding: 6px 24px;
  border-radius: 20px;
  border: 2px solid hsl(321, 100%, 78%);
  background-color: white;
  box-shadow: 0 0 4px 1px #eee;
  font-weight: 700;
  color: var(--light-pink);
}

body header button:hover {
  transition: ease-in 0.5s;
  cursor: pointer;
  background-color: var(--pink);
  color: var(--very-pale-blue);
}

body main .btn {
  padding: 16px 48px;
  border-radius: 30px;
  border: none;
  background-color: var(--pink);
  box-shadow: 0 2px 4px 4px #ddd;
  font-weight: 700;
  color: var(--very-pale-blue);
}

body main .btn:hover {
  cursor: pointer;
  background-color: var(--light-pink);
  transition: ease-in 0.5s;
}

body main #s1 {
  padding: 60px;
  margin-bottom: 40px;
  text-align: center;
}

body main #s1 h1 {
  font-size: 2.5rem;
}

body main #s1 p {
  padding: 0 25%;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 30px 0 40px 0;
}

body main #s1 img {
  display: block;
  margin: 100px auto 0 auto;
  width: 70%;
  min-width: 360px;
  max-width: 940px;
}

body main #s2 {
  padding: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 60px;
}

body main #s2 hgroup {
  text-align: center;
}

body main #s2 hgroup h2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 0px;
}

body main #s2 hgroup p {
  font-weight: 600;
  color: #bbb;
}

body main article {
  padding: 40px 60px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body main article img {
  width: 45%;
  min-width: 300px;
  max-width: 450px;
}

body main article hgroup {
  flex-basis: 40%;
}

body main article hgroup h3 {
  font-size: 1.75rem;
  margin-bottom: 10px;
}

body main article hgroup p {
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

body main #a1 {
  background-image: url("images/bg-section-top-desktop-1.svg"), url("images/bg-section-bottom-desktop-1.svg");
}

body main #a2 img {
  margin-right: 80px;
}

body main #a3 {
  background-image: url("images/bg-section-top-desktop-2.svg"), url("images/bg-section-bottom-desktop-2.svg");
}

body main .wave_bg {
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center top 490px;
  background-size: 100% 110px, 100% 110px;
}

body main .wave_bg::before {
  content: "";
  position: absolute;
  top: 100px;
  z-index: -10;
  width: 100%;
  height: 400px;
  background-color: var(--very-pale-blue);
}

body main .wave_bg img {
  order: 1;
  margin-left: 80px;
}

body main #s3 {
  padding: 60px;
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}

body main #s3 p {
  font-size: 2rem;
  font-family: Poppins;
  font-weight: 700;
  margin-bottom: 30px;
}

body footer {
  width: 100%;
  height: 500px;
  background-image: url("images/bg-footer-top-desktop.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 160px;
  position: relative;
  display: flex;
  justify-content: center;
}

body footer::before {
  content: "";
  position: absolute;
  top: 150px;
  z-index: -10;
  width: 100%;
  height: 350px;
  background-color: var(--very-dark-cyan);
}

body footer form,
body footer section {
  margin-top: 160px;
  padding: 20px 0 0 30px;
  flex-basis: 40%;
  height: 320px;
}

body footer form h4,
body footer form p,
body footer section h4,
body footer section p {
  color: var(--very-pale-blue);
}

body footer form p,
body footer section p {
  width: 75%;
  min-width: 320px;
  max-width: 580px;
  font-size: 0.9rem;
  line-height: 1.4;
}

body footer form {
  order: 1;
}

body footer form h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

body footer form p {
  margin-bottom: 30px;
}

body footer form input {
  margin-right: 16px;
  padding: 10px;
  width: 240px;
  height: 42px;
  border-radius: 8px;
  border: 2px solid #cccccc;
  outline: none;
  font-size: 0.8rem;
  vertical-align: middle;
}

body footer form input:focus {
  border-color: #ff4081;

}

body footer form button {
  padding: 8px 20px;
  height: 42px;
  border-radius: 8px;
  border: none;
  background-color: var(--pink);
  font-weight: 600;
  color: var(--very-pale-blue);
  vertical-align: middle;
}

body footer form button:hover {
  cursor: pointer;
  background-color: var(--light-pink);
  transition: ease-in 0.5s;
}

body footer form .warning {
  margin-top: 6px;
  font-size: 0.7rem;
  color: var(--light-red);
  visibility: hidden;
}

body footer section .info {
  margin-bottom: 30px;
}

body footer section .info .logo {
  width: 15%;
  min-width: 120px;
  max-width: 160px;
  margin-bottom: 10px;
}

body footer section .info p {
  margin-bottom: 12px;
}


body footer section .info p img {
  margin-right: 10px;
  vertical-align: middle;
}

body footer section .info .contact {
  margin-top: 30px;
}

body footer section .sns img,
body footer section .sns i {
  margin-right: 10px;
  vertical-align: middle;
}

body footer section .sns img:hover,
body footer section .sns i:hover {
  cursor: pointer;
  filter: opacity(0.8);
}


@media screen and (max-width: 1020px) {
  body footer form {
    padding: 20px 10px 0 10px;
    position: relative;
  }

  body footer form input {
    margin-right: 10px;
    padding: 8px;
    width: 220px;
    height: 40px;
  }

  body footer form button {
    padding: 4px 0;
    width: 90px;
    height: 40px;
    position: absolute;
  }
}

@media screen and (max-width: 730px) {
  body main #s1 h1 {
    font-size: 2rem;
  }

  body main #s1 p {
    padding: 0 10%;
    font-size: 1.1rem;
  }

  body main #s1 img {
    width: 80%;
    min-width: 220px;
    max-width: 540px;
  }

  body main #s2 {
    padding: 20px;
    flex-direction: column;
  }

  body main #s2 div {
    margin-bottom: 60px;
  }

  body main #s2 div h2 {
    font-size: 3rem;
  }

  body main article {
    padding: 20px 40px;
    height: 750px;
    flex-direction: column;
    text-align: center;
  }

  body main article img {
    width: 60%;
    min-width: 250px;
    max-width: 400px;
  }

  body main article hgroup {
    flex-basis: 20%;
    width: 70%;
    margin-top: 30px;
  }

  body main article hgroup h3 {
    font-size: 1.25rem;
  }

  body main #a1 {
    background-image: url("images/bg-section-top-mobile-1.svg"), url("images/bg-section-bottom-mobile-1.svg");
  }

  body main #a2 img {
    margin-right: 0;
  }

  body main #a3 {
    background-image: url("images/bg-section-top-mobile-2.svg"), url("images/bg-section-bottom-mobile-2.svg");
  }

  body main .wave_bg {
    background-position: left top, left top 640px;
  }

  body main .wave_bg::before {
    height: 550px;
  }

  body main .wave_bg img {
    order: 0;
    margin-left: 0;
  }

  body main #s3 p {
    font-size: 1.75rem;
  }

  body footer {
    height: 700px;
    background-image: url("images/bg-footer-top-mobile.svg");
    background-position: left top;
    background-size: 100% 110px;
    flex-direction: column;
    align-items: center;
  }

  body footer::before {
    top: 100px;
    height: 600px;
  }

  body footer form,
  body footer section {
    margin-top: 0;
    padding: 20px;
    width: 75%;
    max-width: 500px;
    height: auto;
  }

  body footer form p,
  body footer section p {
    width: 100%;
    min-width: auto;
    max-width: auto;
  }

  body footer form {
    order: 0;
    margin-top: 70px;
  }

  body footer form h4 {
    font-size: 1.1rem;
  }

  body footer form button {
    position: static;
  }

  body footer section {
    order: 1;
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  body header {
    padding: 40px 30px;
  }

  body header button {
    padding: 6px 0;
    width: 100px;
  }

  body footer form,
  body footer section {
    width: 85%;
  }

  body footer form {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  body footer form input {
    width: 100%;
  }

  body footer form button {
    position: absolute;
    right: 20px;
    margin-top: 20px;
  }

  body footer form .warning {
    margin-top: 4px;
  }

  body footer section {
    margin-bottom: 20px;
  }

  body footer section .info .contact {
    margin-top: 20px;
  }
}